<span>${name}</span>

<table class="ability_table">
	<tbody>
		<tr>
			<td>
				<table>
					<tbody>
						<tr>
							<td class="name">Range</td>
							<td class="value">${range}</td>
						</tr>

						<tr>
							<td class="name">Mana Cost</td>
							<td class="value">${mana_cost}</td>
						</tr>

						<tr>
							<td class="name">Cooldown</td>
							<td class="value">${cooldown}</td>
						</tr>

						<tr>
							<td />
							<td>
								${passive}
							</td>
						</tr>

						<tr>
							<td />
							<td>
								${active}
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
